pkgbase = chromium-extension-keepassxc-browser-bin
	pkgdesc = KeePassXC Browser Integration - chromium extension (binary version)
	pkgver = 1.9.0.3
	pkgrel = 1
	url = https://github.com/noahvogt/chromium-extension-keepassxc-browser-aur
	arch = any
	license = GPL3
	makedepends = chromium
	makedepends = openssl
	makedepends = jq
	provides = chromium-extension-keepassxc-browser
	conflicts = chromium-extension-keepassxc-browser
	source = https://github.com/noahvogt/chromium-extension-keepassxc-browser-aur/releases/download/1.9.0.3-1/chromium-extension-keepassxc-browser-1.9.0.3-1-any.pkg.tar.zst
	sha256sums = 4a5157d2fe4db5d820ebeaedbb88c69e463c4fb984d0a7cd8debc565edac921b

pkgname = chromium-extension-keepassxc-browser-bin
